
/*Style interface*/
body{
    background-color: rgb(27, 26, 26);
}
.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
  }
  @keyframes twinkle {
    0%, 100% { opacity: 0.8; }
    50% { opacity: 0.3; }
  }
/* Container for the two boxes */
.container {
    display: flex;            /* makes children sit side by side */
    margin-bottom: 50px;       /*Var rutorna ligger*/
    width: 100%;              /* full screen width */
    height: 600px;            /* adjust as needed */
    position: relative;
    background-color: pink;
}

/* Each box takes half width */
#box1{
    flex: 1;                  /* equal width */
    margin: 5px;              /* optional spacing between boxes */
    width: 500px;
    height: 500px;
    background-color: white;
    position: left;
    top: 30%; 
}
#box2{
    flex: 1;                  /* equal width */
    margin: 5px;              /* optional spacing between boxes */
    width: 50%;
    height: 500px;
    background-color: white;
    position: right; 
    top: 30%; 
 
}

h1{
    font-family: 'Star Wars';
    color: yellow;
    text-align: center;
}
h2{
    font-family: monospace;
    color: yellow; 
    text-align: center;
}

/*Tooltip test*/
.tooltip {
    font-family: sans-serif;
    font-size: 12px;
    color: #000;
    z-index: 10;
  }

/*checkbox test*/
  .multipleSelection, .multipleSelection2 {
    width: 300px;
    background-color: #BCC2C1;
}

.selectBox, .selectBox2 {
    position: relative;
}

.selectBox select, .selectBox2 select {
    width: 100%;
    font-weight: bold;
}

.overSelect, .overSelect2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes, #checkBoxes2 {
    display: none;
    border: 1px #8DF5E4 solid;
}

#checkBoxes label, #checkBoxes2 label {
    display: block;
}

#checkBoxes label:hover, #checkBoxes2 label:hover  {
    background-color: #4F615E;
    color: white;
    /* Added text color for better visibility */
}
#menu {
    position: absolute; 
}